#cycling-background-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("/images/bg-Unbridled-Growth.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: -1;
  -webkit-filter: sepia(0.5);
  filter: sepia(0.5);
  animation: fadeInBGFilter;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
nav {
  position: relative;
  background: white;
  height: 64px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav .nav-wrapper #logo-container {
  height: 100%;
  width: auto;
  padding: 5px 0;
  box-sizing: border-box;
}
nav .nav-wrapper #logo-container img {
  width: auto;
  height: 100%;
}
nav .nav-wrapper ul li a.btn.sidenav-trigger {
  color: white;
  height: 40px;
  margin-top: -5px;
  background: #26a69a;
}
nav .nav-wrapper ul li a.btn.sidenav-trigger i {
  margin-right: 5px;
  vertical-align: middle;
}
nav .nav-wrapper .menu {
  float: right;
}
nav #match-logger {
  position: fixed;
  height: 100vh;
  width: 0;
  background-color: transparent;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  transition-duration: .51s;
}
nav #match-logger .background-click-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
nav #match-logger .section {
  position: relative;
  z-index: 2;
  height: 100vh;
  max-width: 300px;
  width: 75%;
}
nav #match-logger .section ul li a {
  color: transparent;
}
nav #match-logger.active {
  width: 100%;
  background-color: rgba(73, 73, 75, 0.5);
}
nav #match-logger.active .section ul li a {
  color: #49494b;
}
footer {
  box-sizing: border-box;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
footer.page-footer {
  padding: 0;
  height: 32px;
  width: 100%;
  background: #dadada;
  display: table;
}
footer.page-footer .container {
  display: table-cell;
  vertical-align: middle;
}
footer.page-footer .container .footer-copyright {
  background: transparent;
  min-height: 25px;
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #f3f3f3;
  padding: 25px;
}
.section .container {
  width: 70%;
  margin: 0 auto;
}
.section.full-page {
  min-height: calc(100vh - 64px - 32px);
}
.section.full-page.image-background-overlay {
  background: transparent;
}
#ranking-wrapper {
  text-align: center;
}
#ranking-wrapper h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
  font-variant: small-caps;
  font-weight: 700;
  color: white;
}
#ranking-wrapper #ranking-board {
  box-sizing: border-box;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  height: calc(100vh - 64px - 32px - 60px - (2*25px));
  position: relative;
  display: table;
  color: white;
}
#ranking-wrapper #ranking-board .vert-centerer {
  display: table-cell;
  vertical-align: middle;
}
#ranking-wrapper #ranking-board ol {
  min-width: 275px;
  margin: 0 auto;
  width: 50%;
}
#ranking-wrapper #ranking-board ol li {
  margin: 5px 0;
  padding: 5px;
  background: #26a69a;
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
}
#ranking-wrapper #ranking-board #ranking-border {
  width: 100%;
  height: calc(100vh - 64px - 32px - 60px - (2*25px));
  position: absolute;
  top: 0;
  left: 0;
}
#ranking-wrapper #ranking-board #ranking-border div {
  height: 2px;
  width: 2px;
  background: white;
  position: absolute;
  animation-duration: 1s;
}
#ranking-wrapper #ranking-board #ranking-border div.vert {
  animation-name: growVert;
  height: 100%;
  left: 0;
  transform-origin: top;
}
#ranking-wrapper #ranking-board #ranking-border div.vert.right {
  left: initial;
  right: 0;
  transform-origin: bottom;
}
#ranking-wrapper #ranking-board #ranking-border div.horz {
  animation-name: growHorz;
  width: 100%;
  top: 0;
  transform-origin: right;
}
#ranking-wrapper #ranking-board #ranking-border div.horz.bottom {
  top: initial;
  bottom: 0;
  transform-origin: left;
}
#ranking-wrapper #ranking-board h2 {
  margin-top: 0;
}
#ranking-wrapper #ranking-board .row {
  margin-bottom: 0;
}
@media only screen and (orientation: portrait) {
  #app-wrapper img#cyclingBG {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 400px) {
  nav .nav-wrapper #logo-container img {
    padding: 20px 0;
  }
}
@keyframes growVert {
  0% {
    transform: scaleY(0);
  }
}
@keyframes growHorz {
  0% {
    transform: scaleX(0);
  }
}
@keyframes fadeInBGFilter {
  0% {
    -webkit-filter: sepia(0);
    filter: sepia(0);
  }
  50% {
    -webkit-filter: sepia(0);
    filter: sepia(0);
  }
}
@keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: .2;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: .2;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
